# 01-1.Analysis Seoul CCTV

## 1. 데이터 읽기

In [67]:
import pandas as pd
import numpy as np

In [68]:
#!conda install -y pandas

In [69]:
CCTV_Seoul = pd.read_csv('../../data/01.Seoul_CCTV.csv', encoding ='utf-8')
CCTV_Seoul.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [70]:
CCTV_Seoul.columns[0]

'구분'

In [71]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'},inplace=True) #컬럼이름바꾸기

In [72]:
CCTV_Seoul.columns[0]

'구별'

In [73]:
pop_Seoul = pd.read_excel('../../data/01.Seoul_Population.xls')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021.2/4,합계,4405638,9795426,4756178,5039248,9565990,4649442,4916548,229436,106736,122700,2.17,1576971
3,2021.2/4,종로구,73525,155106,75009,80097,146029,70985,75044,9077,4024,5053,1.99,27605
4,2021.2/4,중구,62897,132259,64526,67733,123016,60019,62997,9243,4507,4736,1.96,23980

## <a href= 'https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html#'>엑셀파일 관련 읽기</a>
## 구글에 pandas rename 검색

In [74]:
pop_Seoul = pd.read_excel('../../data/01.Seoul_Population.xls',header=2, usecols='B,D,G,J,N')
pop_Seoul.head()

   자치구        계      계.1     계.2  65세이상고령자
0   합계  9795426  9565990  229436   1576971
1  종로구   155106   146029    9077     27605
2   중구   132259   123016    9243     23980
3  용산구   240665   226378   14287     38884
4  성동구   295767   289162    6605     45591

In [75]:
pop_Seoul.rename(
    columns = {
        pop_Seoul.columns[0]: '구별',
        pop_Seoul.columns[1]: '인구수',
        pop_Seoul.columns[2]: '한국인',
        pop_Seoul.columns[3]: '외국인',
        pop_Seoul.columns[4]: '고령자',
        
    },
    inplace =True, 
)
pop_Seoul.head()

    구별      인구수      한국인     외국인      고령자
0   합계  9795426  9565990  229436  1576971
1  종로구   155106   146029    9077    27605
2   중구   132259   123016    9243    23980
3  용산구   240665   226378   14287    38884
4  성동구   295767   289162    6605    45591

---

## Pandas 기초
- Python에서 R 만큼의 강력한 데이터 핸들링 성능을 제공하는 모듈
- 단일 프로세스에서는 최대 효율
- 코딩 가능하고 응용 가능한 엑셀로 받아들여도 됨
- 누군가 스테로이드를 맞은 엑셀로 표현함

#### Series
- index 와 value로 이루어져 있습니다.
- 한 가지의 데이터 타입만 가질 수 있다. 'str' 섞이면 숫자도 str됨.

In [76]:
import pandas as pd
import numpy as np

- pandas는 통상 pd
- numpy는 통상 np

In [77]:
pd.Series()

<ipython-input-77-fa15c544da3b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [78]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [79]:
pd.Series([1,2,3,4],dtype= float64)

NameError: name 'float64' is not defined

In [ ]:
pd.Series([1,2,3,4],dtype= np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [ ]:
pd.Series([1,2,3,4], dtype = str)

0    1
1    2
2    3
3    4
dtype: object

In [ ]:
pd.Series(np.array([1,2,3]))

0    1
1    2
2    3
dtype: int32

In [ ]:
pd.Series({'Key':'value'})

Key    value
dtype: object

In [ ]:
data = pd.Series([1,2,3,4,'5']) 
data

0    1
1    2
2    3
3    4
4    5
dtype: object

In [ ]:
# 짝수를 찾고 싶다
data % 2

TypeError: not all arguments converted during string formatting

#### 날짜 데이터

In [ ]:
dates = pd.date_range('20210101',periods = 6)

### DataFrame
- pd.Series()
    - index, value
- pd.DataFrame()
    - index,value,column

In [ ]:
# 표준정규분포에서 샘플링한 난수 생성
data = np.random.randn(6,4)
data

array([[ 0.73534202, -0.81794107,  0.62694222,  0.72134543],
       [-0.11098419,  0.98913793,  1.20975677, -1.32454438],
       [ 0.02193039,  1.37477553,  0.31216171,  0.70974927],
       [ 0.33823225,  0.5043091 ,  0.07576849, -0.25414718],
       [ 1.47240596,  0.36879683,  0.30390984, -2.58186392],
       [ 0.34043551,  0.90785144,  0.80038126,  0.76632043]])

In [107]:
df = pd.DataFrame(data,index=dates,columns=['A','B','C','D'])
df

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

#### 데이터 프레임 정보 탐색
- df.head()

In [108]:
df.head()

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864

- df.tail() 
- () 붙는 이유: 판다스 객체 안에 있는 메소드

In [109]:
df.tail()

                   A         B         C         D
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

- df.index
- () 안 붙이는 이유: 직접 변수를 만듦.

In [110]:
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [111]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [112]:
df.values

array([[ 0.73534202, -0.81794107,  0.62694222,  0.72134543],
       [-0.11098419,  0.98913793,  1.20975677, -1.32454438],
       [ 0.02193039,  1.37477553,  0.31216171,  0.70974927],
       [ 0.33823225,  0.5043091 ,  0.07576849, -0.25414718],
       [ 1.47240596,  0.36879683,  0.30390984, -2.58186392],
       [ 0.34043551,  0.90785144,  0.80038126,  0.76632043]])

- df.info() : 데이터 프레임의 기본 정보 확인

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-01-01 to 2021-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

- df.describe() : data frame의 기술 통계 정보 확인

In [114]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.466227  0.554488  0.554820 -0.327190
std    0.574038  0.762525  0.411284  1.375067
min   -0.110984 -0.817941  0.075768 -2.581864
25%    0.101006  0.402675  0.305973 -1.056945
50%    0.339334  0.706080  0.469552  0.227801
75%    0.636615  0.968816  0.757021  0.718446
max    1.472406  1.374776  1.209757  0.766320

### 데이터 정렬
- sort_values()
- 특정 컬럼(열)을 기준으로 데이터를 정렬합니다.

In [115]:
df.sort_values(by = 'B',ascending = False) #내림차순,default->오름차순ascending

                   A         B         C         D
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-06  0.340436  0.907851  0.800381  0.766320
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-01  0.735342 -0.817941  0.626942  0.721345

In [116]:
df

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

### 데이터 선택

In [117]:
#한 개 컬럼 선택
type(df['A'])

pandas.core.series.Series

In [118]:
df.A #컬럼이름이 숫자인 경우 안됨. df['4']로 사용.

2021-01-01    0.735342
2021-01-02   -0.110984
2021-01-03    0.021930
2021-01-04    0.338232
2021-01-05    1.472406
2021-01-06    0.340436
Freq: D, Name: A, dtype: float64

In [119]:
#두 개 이상 컬럼 선택 -> 리스트에 담아서 컬럼 선택
df[["A","B"]]

                   A         B
2021-01-01  0.735342 -0.817941
2021-01-02 -0.110984  0.989138
2021-01-03  0.021930  1.374776
2021-01-04  0.338232  0.504309
2021-01-05  1.472406  0.368797
2021-01-06  0.340436  0.907851

### offset index
- [n:m] : n부터 m-1 까지
- 인덱스나 컬럼의 이름으로 slice 하는 경우는 끝을 포함합니다

In [120]:
df

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

In [121]:
df[0:3]

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749

In [122]:
df["20210101":"20210103"] #인덱스 선택 시 끝까지 추출됨.

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749

- loc : location
- index 이름으로 특정 행, 열 선택.

In [124]:
df.loc[:,['A','B']]

                   A         B
2021-01-01  0.735342 -0.817941
2021-01-02 -0.110984  0.989138
2021-01-03  0.021930  1.374776
2021-01-04  0.338232  0.504309
2021-01-05  1.472406  0.368797
2021-01-06  0.340436  0.907851

In [126]:
df.loc['20210102':'20210104',['A','D']]

                   A         D
2021-01-02 -0.110984 -1.324544
2021-01-03  0.021930  0.709749
2021-01-04  0.338232 -0.254147

In [128]:
df.loc['20210102':'20210104','A':'D']

                   A         B         C         D
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147

In [129]:
df.loc['20210102',['A','B']]

A   -0.110984
B    0.989138
Name: 2021-01-02 00:00:00, dtype: float64

- iloc : integer location
    - 컴퓨터가 인식하는 인덱스 값으로 선택

In [130]:
df.iloc[3]

A    0.338232
B    0.504309
C    0.075768
D   -0.254147
Name: 2021-01-04 00:00:00, dtype: float64

In [132]:
df.iloc[3,2]

0.07576849410882636

In [133]:
df.iloc[3:5,0:2]

                   A         B
2021-01-04  0.338232  0.504309
2021-01-05  1.472406  0.368797

In [135]:
df

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

In [134]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2021-01-02 -0.110984  1.209757
2021-01-03  0.021930  0.312162
2021-01-05  1.472406  0.303910

In [136]:
df.iloc[:,1:3]

                   B         C
2021-01-01 -0.817941  0.626942
2021-01-02  0.989138  1.209757
2021-01-03  1.374776  0.312162
2021-01-04  0.504309  0.075768
2021-01-05  0.368797  0.303910
2021-01-06  0.907851  0.800381

#### condition

In [138]:
df

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

In [140]:
# A컬럼에서 0보다 큰 숫자(양수)만 선택
df['A'] > 0

2021-01-01     True
2021-01-02    False
2021-01-03     True
2021-01-04     True
2021-01-05     True
2021-01-06     True
Freq: D, Name: A, dtype: bool

In [143]:
df[df['A']> 0 ] #마스킹한다

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

In [144]:
df[df>0]

                   A         B         C         D
2021-01-01  0.735342       NaN  0.626942  0.721345
2021-01-02       NaN  0.989138  1.209757       NaN
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768       NaN
2021-01-05  1.472406  0.368797  0.303910       NaN
2021-01-06  0.340436  0.907851  0.800381  0.766320

- NaN : Not A Number

### 컬럼 추가
 - 기존 컬럼이 없으면 추가
 - 기존 컬럼이 있으면 추가

In [145]:
df

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

In [150]:
df['E'] = ['one','one','two','three','four','six']
df

                   A         B         C         D      E
2021-01-01  0.735342 -0.817941  0.626942  0.721345    one
2021-01-02 -0.110984  0.989138  1.209757 -1.324544    one
2021-01-03  0.021930  1.374776  0.312162  0.709749    two
2021-01-04  0.338232  0.504309  0.075768 -0.254147  three
2021-01-05  1.472406  0.368797  0.303910 -2.581864   four
2021-01-06  0.340436  0.907851  0.800381  0.766320    six

- isin()
- 특정 요소가 있는지 확인

In [152]:
df['E'].isin(['two'])

2021-01-01    False
2021-01-02    False
2021-01-03     True
2021-01-04    False
2021-01-05    False
2021-01-06    False
Freq: D, Name: E, dtype: bool

In [153]:
df['E'].isin(['two','three'])

2021-01-01    False
2021-01-02    False
2021-01-03     True
2021-01-04     True
2021-01-05    False
2021-01-06    False
Freq: D, Name: E, dtype: bool

In [154]:
df[df['E'].isin(['two','three'])]

                   A         B         C         D      E
2021-01-03  0.021930  1.374776  0.312162  0.709749    two
2021-01-04  0.338232  0.504309  0.075768 -0.254147  three

### 특정 컬럼 제거
- del
- drop

In [155]:
df['E']
df

                   A         B         C         D      E
2021-01-01  0.735342 -0.817941  0.626942  0.721345    one
2021-01-02 -0.110984  0.989138  1.209757 -1.324544    one
2021-01-03  0.021930  1.374776  0.312162  0.709749    two
2021-01-04  0.338232  0.504309  0.075768 -0.254147  three
2021-01-05  1.472406  0.368797  0.303910 -2.581864   four
2021-01-06  0.340436  0.907851  0.800381  0.766320    six

In [156]:
del df['E']
df

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

In [159]:
df.drop(['D'],axis = 0) #axis = 1 세로, axis = 0 가로

                   A         B         C
2021-01-01  0.735342 -0.817941  0.626942
2021-01-02 -0.110984  0.989138  1.209757
2021-01-03  0.021930  1.374776  0.312162
2021-01-04  0.338232  0.504309  0.075768
2021-01-05  1.472406  0.368797  0.303910
2021-01-06  0.340436  0.907851  0.800381

### apply()

In [160]:
df

                   A         B         C         D
2021-01-01  0.735342 -0.817941  0.626942  0.721345
2021-01-02 -0.110984  0.989138  1.209757 -1.324544
2021-01-03  0.021930  1.374776  0.312162  0.709749
2021-01-04  0.338232  0.504309  0.075768 -0.254147
2021-01-05  1.472406  0.368797  0.303910 -2.581864
2021-01-06  0.340436  0.907851  0.800381  0.766320

In [161]:
df['A'].apply('sum')

2.7973619412741892

In [162]:
df['A'].apply('mean')

0.46622699021236486

In [163]:
df['A'].apply('min'), df['A'].apply('max')

(-0.11098419177568468, 1.4724059619086962)

In [164]:
df[['A','D']].apply('sum')

A    2.797362
D   -1.963140
dtype: float64

In [165]:
df['A'].apply(np.sum)

2021-01-01    0.735342
2021-01-02   -0.110984
2021-01-03    0.021930
2021-01-04    0.338232
2021-01-05    1.472406
2021-01-06    0.340436
Freq: D, Name: A, dtype: float64

In [166]:
df['A'].apply(np.mean)

2021-01-01    0.735342
2021-01-02   -0.110984
2021-01-03    0.021930
2021-01-04    0.338232
2021-01-05    1.472406
2021-01-06    0.340436
Freq: D, Name: A, dtype: float64

In [167]:
df['A'].apply(np.std) # 표준편차

2021-01-01    0.0
2021-01-02    0.0
2021-01-03    0.0
2021-01-04    0.0
2021-01-05    0.0
2021-01-06    0.0
Freq: D, Name: A, dtype: float64

In [172]:
def plusminus(num):
    return 'plus' if num > 0 else 'minus'

In [173]:
df['A'].apply(plusminus)

2021-01-01     plus
2021-01-02    minus
2021-01-03     plus
2021-01-04     plus
2021-01-05     plus
2021-01-06     plus
Freq: D, Name: A, dtype: object

In [174]:
df['A'].apply(lambda num :'plus' if num > 0 else 'minus')

2021-01-01     plus
2021-01-02    minus
2021-01-03     plus
2021-01-04     plus
2021-01-05     plus
2021-01-06     plus
Freq: D, Name: A, dtype: object