## 자료구조
#### 데이터를 묶어서 관리하자!

- 여러 개의 데이터가 묶여있는 자료형을 컨테이너 자료형이라고 하고, 이러한 컨테이너 자료형의 데이터 구조를 자료구조라고 한다.
- 묶어서 관리(컨테이너 자료형)
- 자료구조는 각각의 컨테이너 자료형에 따라서 차이가 있으며, 파이썬의 대표적인 컨테이너 자료형으로는 리스트, 튜플, 딕션너리, 셋트가 있다.
    - 리스트가 가장 많이 쓰임.[] -> 데이터 수정 가능. 중복된 데이터 존재가능. 
    - 튜플은 리스트와 유사.() -> 데이터 수정 불가능. 중복된 데이터 존재가능.
    - 딕셔너리는 key value로 이루어짐. {key:value}
    - 셋트는 중복된 데이터 허용 불가.{}

In [10]:
student1 ='홍길동'
student2 ='박찬호'
student3 ='이용구'
student4 ='박승철'
student5 ='김지은'

students = ['홍길동','박찬호','이용구','박승철','김지은']
type(students)

list

In [11]:
studentsT = ('홍길동','박찬호','이용구','박승철','김지은')
type(studentsT)

tuple

In [12]:
scores = {'kor':95, 'eng':90, 'mat':90}
print(scores)
type(scores)

{'kor': 95, 'eng': 90, 'mat': 90}

dict

In [13]:
allSales = {100,200,500}
print(allSales)
print(type(allSales))

{200, 100, 500}
<class 'set'>

In [18]:
for student in scores:
    print(student)

kor
eng
mat

## 리스트
- 컨테이너 자료형 중 가장 대표적.
- 배열과 같이 여러 개의 데이터를 나열한 자료구조. 
- []를 이용해서 선언하고, 데이터 구분은 ',' 를 이용한다.
- students = ['홍길동','박찬호','이용구','박승철','김지은'] -> 아이템(요소)
- 숫자, 문자(열), 논리형 등 모든 기본 데이터를 같이 저장할 수 있다.
- 리스트에 또 다른 컨테이너 자료형 데이터를 저장할 수도 있다.

In [22]:
student =' 홍기리동'
student

' 홍기리동'

In [33]:
students = ['홍길동','박찬호','이용구','박승철','김지은'] 
print('students:{}'.format(students))
students
print(type(students))

students:['홍길동', '박찬호', '이용구', '박승철', '김지은']
<class 'list'>

In [32]:
mbernus = [10,20,30,40,50,60,70]
print('numbers:{}'.format(numbers))
print(type(numbers))

numbers:[10, 20, 30, 40, 50, 60, 70]
<class 'list'>

In [31]:
str = [ 3.14,'십',20,'one']
print('str:{}'.format(str))
print(type(str))

str:[3.14, '십', 20, 'one']
<class 'list'>

In [35]:
myFamilyNames = ['홍아빠','김엄마','홍딸','홍아들']
myFamilyNames

['홍아빠', '김엄마', '홍딸', '홍아들']

In [37]:
todaySchedule = ['10시-업무회의','12시-친구와점심약속','3시-자료정리','6시-운동','9시-TV시청']
todaySchedule

['10시-업무회의', '12시-친구와점심약속', '3시-자료정리', '6시-운동', '9시-TV시청']

In [38]:
datas=[10,20,[30,89]]
datas

[10, 20, [30, 89]]

### 인덱스
- 아이템에 자동으로 부여되는 번호표
- 리스트 아이템은 인덱스를 이용해서 조회 가능하다.
- 잘못된 인덱스 사용으로 인해 에러 발생한다. ('index out of range!')

In [41]:
students = ['홍길동','박찬호','이용구','박승철','김지은'] 
print(students[0])
print(students[1])
print(students[2])
print(students[3])
print(students[4])
print(students[5])

홍길동
박찬호
이용구
박승철
김지은

IndexError: list index out of range

In [45]:
numbers= ['10',20.9,30,40,50,60]
print(type(numbers))
print(type(numbers[0]))
print(type(numbers[1]))
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])

<class 'list'>
<class 'str'>
<class 'float'>
10
20.9
30
40
50

In [53]:
# 5명의 학생-> 인덱스가 홀수인 학생, 짝수(0포함)인 학생  구분해서 뽑아내자.
students = ['홍길동','박찬호','이용구','박승철','김지은'] 
students
for i in range(len(students)):
    if i % 2 == 0:
        print('인덱스 짝수인 학생: students[{}],{}'.format(i,students[i]))
    else:
        print('인덱스 홀수인 학생:students[{}],{}'.format(i, students[i]))

인덱스 짝수인 학생: students[0],홍길동
인덱스 홀수인 학생:students[1],박찬호
인덱스 짝수인 학생: students[2],이용구
인덱스 홀수인 학생:students[3],박승철
인덱스 짝수인 학생: students[4],김지은

5

## 아이템 개수  len()
- 리스트 길이란, 리스트에 저장된 아이템 개수를 뜻한다.

In [57]:
students = ['홍길동','박찬호','이용구','박승철','김지은'] 
print(students)
print(len(students))

['홍길동', '박찬호', '이용구', '박승철', '김지은']
5

In [62]:
str = 'Hello Python!!'
len(str)
for i in str:
    print(i)
str[0:10]

H
e
l
l
o

P
y
t
h
o
n
!
!

'Hello Pyth'

In [64]:
# 좋아하는 운동 종목 리스트 저장, 반복문
myFavSports = ['축구','수영','야구','배구']
myFavSports
for i in range(len(myFavSports)):
    print(myFavSports[i])

축구
수영
야구
배구

In [69]:
for i in myFavSports:
    print(i)

축구
수영
야구
배구

In [67]:
n = 0 
while n < len(myFavSports):
    print(myFavSports[n])
    n += 1

축구
수영
야구
배구

### 리스트와 for문(1)

#### for문을 이용한 조회
stus =['항','옹','훟']
- for문을 이용하면 리스트의 아이템을 자동으로 참조 가능.
```
for i in range(len(stus)):
    print(stu[i])

for i in stus:
    print(i)
#반복이 가능한 iterable 객체는 바로 사용 가능(stus->list도 반복가능한 객체임).

In [71]:
cars = ['그랜저','쏘나타','말리부','카니발','쏘렌토']
for i in range(len(cars)):
    print(cars[i])

for car in cars:
    print(car)

그랜저
쏘나타
말리부
카니발
쏘렌토
그랜저
쏘나타
말리부
카니발
쏘렌토

- for문을 이용하면, 리스트 내부에 또 다른 리스트의 아이템을 조회할 수 있다.

In [76]:
studentCnts = [[1,19],[2,13],[3,20],[4,18],[5,24]]
for i in range(len(studentCnts)):
    print('{} 학급 학생 수:{}'.format(studentCnts[i][0],studentCnts[i][1]))

1 학급 학생 수:19
2 학급 학생 수:13
3 학급 학생 수:20
4 학급 학생 수:18
5 학급 학생 수:24

In [77]:
for classNo, cnt in studentCnts:
    print('{} 학급 학생 수:{}'.format(classNo,cnt))

1 학급 학생 수:19
2 학급 학생 수:13
3 학급 학생 수:20
4 학급 학생 수:18
5 학급 학생 수:24

In [85]:
# 학급별 학생수, 전체 학생 수, 평균 학생수

studentCnts = [[1,18], [2,19], [3,23], [4,21], [5,20], [6,22], [7,17]]
sum = 0
avg = 0
for classNo, cnt in studentCnts:
    print('{} 학급의 학생수:{}명'.format(classNo, cnt))
    sum += cnt
    avg =  sum/len(studentCnts)

print('전체 학생 수:{}명'.format(sum))
print('평균 학생 수 :{}명'.format(avg))

1 학급의 학생수:18명
2 학급의 학생수:19명
3 학급의 학생수:23명
4 학급의 학생수:21명
5 학급의 학생수:20명
6 학급의 학생수:22명
7 학급의 학생수:17명
전체 학생 수:140명
평균 학생 수 :20.0명

### 리스트와 for문(2)
#### for문을 이용한 조회

In [88]:
#for문과 if문을 이용해서 과락 과목 출력
minScore = 60
scores = [['국어',58], ['영어',99], ['수학',90], ['과학',49]]

for subject, score in scores:
    if score >= minScore:
        print('{}과목은 {}점으로 Pass'.format(subject,score))
    else:
        print('{}과목은 {}점으로 Fail'.format(subject,score))

국어과목은 58점으로 Fail
영어과목은 99점으로 Pass
수학과목은 90점으로 Pass
과학과목은 49점으로 Fail

In [89]:
minScore = 60
scores = [['국어',58], ['영어',99], ['수학',90], ['과학',49]]

for subject, score in scores:
    if score >= minScore: 
        continue
    else:
        print('과락과목: {}, {}점'.format(subject,score))

과락과목: 국어, 58점
과락과목: 과학, 49점

In [90]:
minScore = 60
scores = [['국어',58], ['영어',99], ['수학',90], ['과학',49]]

for subject, score in scores:
    if score <= minScore: 
        print('과락과목: {}, {}점'.format(subject,score))

과락과목: 국어, 58점
과락과목: 과학, 49점

In [98]:
minScore = 60
scores = [['국어',58], ['영어',99], ['수학',90], ['과학',49]]
for i in scores:
    if i[1] < minScore:
        print('과락과목: {}, {}점'.format(i[0],i[1]))

과락과목: 국어, 58점
과락과목: 과학, 49점

In [107]:
# 사용자가 국어, 영어, 수학, 과학, 국사 점수를 입력하면 과락 과목과 점수를 출력
korScore = int(input('국어성적:'))
engScore = int(input('영어성적:'))
mathScore = int(input('수학성적:'))
sciScore = int(input('과학성적:'))
hisScore = int(input('국사성적:'))
minScore = 60
scores = [['국어',korScore],
        ['영어',engScore],
        ['수학',mathScore],
        ['과학',sciScore],
        ['국사',hisScore],]
print(scores)
for subject, score in scores: 
    if score < 60:
        print('과락과목:{}, {}점'.format(subject, score))

[['국어', 45], ['영어', 67], ['수학', 87], ['과학', 54], ['국사', 98]]
과락과목:국어, 45점
과락과목:과학, 54점

In [110]:
# 학습 학생 수가 가장 작은 학급과 가장 많은 학급 출력.
students = [[1,18],[2,19],[3,23],[4,21],[5,20],[6,22],[7,17]]
minScore = 17
maxScore = 23
for classNo, stu in students:
    if stu <= minScore:
        print('학생 수 가장 적은 학급:{},{}명'.format(classNo,stu))
    elif stu >= maxScore:    
        print('학생 수 가장 많은 학급:{},{}명'.format(classNo,stu))

학생 수 가장 많은 학급:3,23명
학생 수 가장 적은 학급:7,17명

### 리스트와 while문(1)
- while문을 이용하면 다양한 방법으로 아이템 조회 가능.

In [111]:
cars = ['그랜저','쏘나타','말리부','카니발','쏘렌토']
n = 0 
while True:
    print(cars[n])
    n += 1

    if n == len(cars):
        break

그랜저
쏘나타
말리부
카니발
쏘렌토

In [113]:
n = 0 
while n <len(cars):
    print(cars[n])
    n += 1

그랜저
쏘나타
말리부
카니발
쏘렌토

In [127]:
# 학급별 학생 수, 전체 수, 평균 학생 수
stus = [[1,18],[2,19],[3,23],[4,21],[5,20],[6,22],[7,17]] 
n = 0
sum = 0
avg = 0
while n < len(stus):
    print(stus[n][0],stus[n][1])
    sum += stus[n][1]
    avg = sum/len(stus)
    n += 1
print(avg)
print(sum)

1 18
2 19
3 23
4 21
5 20
6 22
7 17
20.0
140

In [138]:
### 리스트와 while문(2)
#while문을 이용한 조회
#while문과 if문을 이용해서 과락 과목 출력

minScore = 60
scores = [['국어',58], ['영어',99], ['수학',90], ['과학',49]]

while n < len(scores):
    if scores[n][1] < minScore:
        print('과락과목:{}'.format(scores[n][1]))
    n += 1

In [140]:
minScore = 60
scores = [['국어',58], ['영어',99], ['수학',90], ['과학',49]]

n=0
while n < len(scores):
    if scores[n][1] < minScore:
        print('과락과목:{}'.format(scores[n][1]))
    n += 1

과락과목:58
과락과목:49

In [148]:
#while문을 이용해서 학급 학생 수가 가장 작은 학급, 가장 많은 학급
n = 0 
minCnt = 0
maxCnt = 0
minclassNo = 0 ; maxclassNo = 0
studentCnts = [[1,18],[2,19],[3,23],[4,21],[5,20],[6,22],[7,17]] 

while n < len(studentCnts):
    if minCnt == 0 or minCnt > studentCnts[n][1]:
        minclasssNo = studentCnts[n][0]
        minCnt = studentCnts[n][1]
        
    if maxCnt < studentCnts[n][1]:
        maxclasssNo = studentCnts[n][0]
        maxCnt = studentCnts[n][1]
    n += 1

print('학생 수가 가장 작은 학급(학생수):{}학급{}명)'.format(minclassNo, minCnt))
print('학생 수가 가장 많은 학급(학생수):{}학급{}명)'.format(maxclassNo, maxCnt))

학생 수가 가장 작은 학급(학생수):0학급17명)
학생 수가 가장 많은 학급(학생수):0학급23명)

In [149]:
#while문을 이용해서 학급 학생 수가 가장 작은 학급, 가장 많은 학급
n = 0 
minCnt = 0
maxCnt = 0
minclassNo = 0 ; maxclassNo = 0
studentCnts = [[1,18],[2,19],[3,23],[4,21],[5,20],[6,22],[7,17]] 

while n < len(studentCnts):
    if minCnt == 0 or minCnt > studentCnts[n][1]:
        minclasssNo = studentCnts[n][0]
        minCnt = studentCnts[n][1]
        
    if maxCnt < studentCnts[n][1]:
        maxclasssNo = studentCnts[n][0]
        maxCnt = studentCnts[n][1]
    n += 1

print('학생 수가 가장 작은 학급(학생수):{}학급{}명)'.format(minclassNo, minCnt))
print('학생 수가 가장 많은 학급(학생수):{}학급{}명)'.format(maxclassNo, maxCnt))

학생 수가 가장 작은 학급(학생수):0학급17명)
학생 수가 가장 많은 학급(학생수):0학급23명)

### enumarate()함수
- 인덱스와 아이템을 한번에 조회!!

- 컨테이너 자료형 리스트와 함께 사용됨.
- enumerate()함수를 이용하면 아이템을 열거할 수 있다.
- 문자열에도 적용 가능.

In [151]:
sports = ['농구','수구','축구','마라톤','테니스']

for i in range(len(sports)):
    print('{}:{} '.format(i,sports[i]))

for idx, value in enumerate(sports):
    print('{}:{}'.format(idx, value))

0:농구
1:수구
2:축구
3:마라톤
4:테니스
0:농구
1:수구
2:축구
3:마라톤
4:테니스

In [154]:
str = 'Hello python' 
for idx, value in enumerate(str):
    print(idx, value)

0 H
1 e
2 l
3 l
4 o
5
6 p
7 y
8 t
9 h
10 o
11 n

In [156]:
# 가장 좋아하는 스포츠가 몇 번째에 있는지 출력
sports = ['농구','수구','축구','마라톤','테니스']
favoriteSport = input('가장 좋아하는 스포츠 입력:')
bestSportIdx = 0

for idx, value in enumerate(sports):
    if value == favoriteSport:
        bestSportIdx = idx + 1
print('{}(은)는 {}번째에 있습니다.'.format(favoriteSport, bestSportIdx))

마라톤(은)는 4번째에 있습니다.

In [159]:
# 사용자가 입력한 문자열에서 공백의 개수 출력.
message = input('메세지 입력:')
cnt = 0
for idx,value in enumerate(message):
    if value == ' ':
        cnt += 1
print(cnt)

3

### 리스트에 아이템 추가
- append()함수를 이용하면 마지막 인덱스에 아이템을 추가할 수 있다.

In [163]:
students = ['홍길동','박찬호','이용규','박승철','김지은']
print('students:{}'.format(students))
print('students:{}'.format(len(students)))
print('students:{}'.format(len(students)-1))

students.append('강호동')
print('students:{}'.format(students))
print('students:{}'.format(len(students)))
print('students:{}'.format(len(students)-1))

students:['홍길동', '박찬호', '이용규', '박승철', '김지은']
students:5
students:4
students:['홍길동', '박찬호', '이용규', '박승철', '김지은', '강호동']
students:6
students:5

In [164]:
myFamilyAge = [['아빠',40],['엄마',38],['나',9]]
print(myFamilyAge)

myFamilyAge.append(['동생',8])
print(myFamilyAge)

for name, age in myFamilyAge:
    print('{} : {}'.format(name,age))

[['아빠', 40], ['엄마', 38], ['나', 9]]
[['아빠', 40], ['엄마', 38], ['나', 9], ['동생', 8]]
아빠 : 40
엄마 : 38
나 : 9
동생 : 8

### 특정 위치에 아이템 추가
- insert()함수를 이용하면 특정 위치(인덱스)에 아이템 추가

In [166]:
students = ['홍길동','박찬호','이용규','박승철','김지은']
print('students:{}'.format(students))
print('students의 길이:{}'.format(len(students)))
print('students의 마지막 인덱스:{}'.format(len(students)-1))

students.insert(3,'강호동')
print('students:{}'.format(students))
print('students의 길이:{}'.format(len(students)))
print('students의 마지막 인덱스:{}'.format(len(students)-1))

students:['홍길동', '박찬호', '이용규', '박승철', '김지은']
students의 길이:5
students의 마지막 인덱스:4
students:['홍길동', '박찬호', '이용규', '강호동', '박승철', '김지은']
students의 길이:6
students의 마지막 인덱스:5

In [169]:
words = ['I','a','boy']
for word in words:
    print(word,end =' ')
words.insert(1,'am')

print()
for word in words:
    print(word,end=' ')

I a boy
I am a boy

In [171]:
# 오름차순으로 정렬되어 있는 숫자들에 사용자가 입력한 정수를 추가하는 프로그램을 만들어보자.(추가 후에도 오름차순 정렬 유지.)
numbers = [1, 3, 6, 11, 45, 54, 62, 74, 85]
inputNum = int(input('숫자 입력:'))
insertIdx = 0
for idx, number in enumerate(numbers):
    print(idx, number)

    if insertIdx == 0 and inputNum < number:
        insertIdx = idx
numbers.insert(insertIdx,inputNum)
print(numbers)

0 1
1 3
2 6
3 11
4 45
5 54
6 62
7 74
8 85
[1, 3, 6, 11, 45, 54, 56, 62, 74, 85]

### 리스트의 아이템 삭제
- 마지막 인덱스 아이템 삭제
- pop() 함수를 이용하면 마지막 인덱스에 해당하는 아이템 삭제.

In [262]:
students = ['홍길동','박찬호','이용규','박승철','김지은']
print('students:{}'.format(students))
print('students length:{}'.format(len(students)))

students.pop(2)
print('students:{}'.format(students))
print('students length:{}'.format(len(students)))

rValue = students.pop(0)  
print('students:{}'.format(students))
print('students length:{}'.format(len(students)))
print('students:{}'.format(rValue)) #remove 한 아이템

students:['홍길동', '박찬호', '이용규', '박승철', '김지은']
students length:5
students:['홍길동', '박찬호', '박승철', '김지은']
students length:4
students:['박찬호', '박승철', '김지은']
students length:3
students:홍길동

In [180]:
# 어떤 체조 선수의 점수표이다. 점수표에서 최저, 최고 점수 삭제.
playerScores = [9.5,8.9,9.2,9.8,8.8,9.0]
print('playerScores:{}'.format(playerScores))

minScore = 0 ; minScoreIdx = 0
maxScore = 0 ; maxScoreIdx = 0

for idx, value in enumerate(playerScores):
    if idx == 0 or minScore > score:
        minScoreIdx = idx 
        minScore = score
print('minScore:{}, minScoreIdx:{}'.format(minScore, minScoreIdx))

for idx, value in enumerate(playerScores):
    if maxScore < score:
        maxScoreIdx = idx
        maxScore = score
print('maxScore: {}, maxScoreIdx : {}'.format(maxScore, maxScoreIdx))

playerScores:[9.5, 8.9, 9.2, 9.8, 8.8, 9.0]
minScore:98, minScoreIdx:0
maxScore: 98, maxScoreIdx : 0

### 리스트의 특정 아이템 삭제
- remove() 함수를 이용하면 특정 아이템 삭제 가능.
- remove()는 한 개의 아이템만 삭제 가능. 
- 만약 삭제하려는 데이터가 2개 이상이라면 while문 이용.

In [185]:
students = ['홍길동','박찬호','이용규','강호동','박승철','김지은']
print(students)

students.remove('박찬호')
print(students)

['홍길동', '박찬호', '이용규', '강호동', '박승철', '김지은']
['홍길동', '이용규', '강호동', '박승철', '김지은']

In [190]:
students = ['홍길동','박찬호','이용규','강호동','박승철','김지은']
print(students)

students.remove('강호동')
print(students)

print('강호동' in students)

while '강호동' in students:
    students.remove('강호동')
print(students)

['홍길동', '박찬호', '이용규', '강호동', '박승철', '김지은']
['홍길동', '박찬호', '이용규', '박승철', '김지은']
False
['홍길동', '박찬호', '이용규', '박승철', '김지은']

In [192]:
# 아래의 오늘 일정표에서 사용자가 입력한 일정을 삭제.
myList = ['마케팅 회의','일간','월간','치과 방문','마트 장보기']
inputList = input()
myList.remove(inputList)
print(myList)

['마케팅 회의', '월간', '치과 방문', '마트 장보기']

In [ ]:
# 과목표에서 사용자가 입력한 과목 삭제 프로그램
subjects = ['국어','영어','수학','과학','국사']
print('시험 과목표 : {}'.format(subjects))

removeSubject = input('삭제 과목명 입력:')
while removeSubject in subjects:
    subjects.remove(removeSubject)
print('시험 과목표:{}'.format(subjects))

### 리스트 연결
- extend()함수를 이용하면 리스트에 또 다른 리스트를 연결(확장)할 수 있다.
- 덧셈 연산자를 이용해서 리스트를 연결할 수도 있다.

In [194]:
group1 = ['홍길동','박찬호','이용규']
group2 = ['강호동','박승철','김지은']

print('group1:{}'.format(group1))
print('group2:{}'.format(group2))

group1.extend(group2)
print('group1:{}'.format(group1))
print('group2:{}'.format(group2))

group1:['홍길동', '박찬호', '이용규']
group2:['강호동', '박승철', '김지은']
group1:['홍길동', '박찬호', '이용규', '강호동', '박승철', '김지은']
group2:['강호동', '박승철', '김지은']

In [197]:
# 나와 친구가 좋아하는 번호를 합치되 번호가 중복되지 않는다.
me = [1,3,5,6,7]
you = [2,3,5,8,10]

add = me + you 

result = []
for number in add:
    if number not in result:
        result.append(number)
print(result)

[1, 3, 5, 6, 7, 2, 8, 10]

In [271]:
DPactors = {'안준':'정해','직책':'군탈','계급':'ㅇ','3':'ㅇ','특기':'권투',}
print('안준' in DPactors,'정해' in DPactors,'군탈' not in DPactors, '특기' in DPactors)

True False True True

### 리스트 아이템 정렬
- 오름차순 또는 내림차순으로 정렬
리스트 연결(확장)
- sort() 함수를 이용하면 아이템을 정렬 : 오름차순
- sort(reverse = True) 내림차순
- 문자, 숫자 모두 정렬 가능.

In [198]:
students = ['홍길동','박찬호','이용규','강호동','박승철','김지은']
print('students: {}'.format(students))

students.sort(reverse=False)  #오름차순
print('students: {}'.format(students))

students.sort(reverse=True)   #내림차순
print('students: {}'.format(students))

students: ['홍길동', '박찬호', '이용규', '강호동', '박승철', '김지은']
students: ['강호동', '김지은', '박승철', '박찬호', '이용규', '홍길동']
students: ['홍길동', '이용규', '박찬호', '박승철', '김지은', '강호동']

In [202]:
numbers = [2,50,0.12,1,9,7,17,35,100,3.14]
print('numbers:{}'.format(numbers))

numbers.sort()
print('numbers:{}'.format(numbers))

numbers.sort(reverse=True)
print('numbers:{}'.format(numbers))

numbers:[2, 50, 0.12, 1, 9, 7, 17, 35, 100, 3.14]
numbers:[0.12, 1, 2, 3.14, 7, 9, 17, 35, 50, 100]
numbers:[100, 50, 35, 17, 9, 7, 3.14, 2, 1, 0.12]

In [208]:
# 점수표에서 최저 최고 점수 삭제 후 총점과 평균 출력.

playerScores = [9.5,8.9,9.2,9.8,8.8,9.0]
print('playerScores:{}'.format(playerScores))

playerScores.sort()
print('playerScores:{}'.format(playerScores))

playerScores.pop(0)
playerScores.pop(len(playerScores)-1)
print('playerScores:{}'.format(playerScores))


sum = 0
avg = 0
for score in playerScores:
    sum += score 
avg = sum / len(playerScores)
print('sum:%.2f'% sum)
print('sum:%.2f'% avg)

playerScores:[9.5, 8.9, 9.2, 9.8, 8.8, 9.0]
playerScores:[8.8, 8.9, 9.0, 9.2, 9.5, 9.8]
playerScores:[8.9, 9.0, 9.2, 9.5]
sum:36.60
sum:9.15

### 리스트 아이템 순서 뒤집기

- reverse()함수를 이용하면 아이템 순서를 뒤집을 수 있음.
- 문자열, 숫자 다 가능.

In [209]:
students = ['홍길동','박찬호','이용규','강호동','박승철','김지은']
print('students:{}'.format(students))

students.reverse()
students

students:['홍길동', '박찬호', '이용규', '강호동', '박승철', '김지은']

['김지은', '박승철', '강호동', '이용규', '박찬호', '홍길동']

In [212]:
# 전쟁에서 사용되는 암호, 암호 해독 프로그램.

secret = '27156231'
secretList = []
solvedList = '' 
for cha in secret:
    secretList.append(int(cha))
print('secretList: {}'.format(secretList))

secretList.reverse()
print('secretList: {}'.format(secretList))

val = secretList[0] * secretList[1]
secretList.insert(2,val)

val = secretList[3] * secretList[4]
secretList.insert(5,val)

val = secretList[6] * secretList[7]
secretList.insert(8,val)

print('secretList: {}'.format(secretList))

secretList: [2, 7, 1, 5, 6, 2, 3, 1]
secretList: [1, 3, 2, 6, 5, 1, 7, 2]
secretList: [1, 3, 3, 2, 6, 12, 5, 1, 5, 7, 2]

### 리스트 슬라이싱
- 원하는 아이템만 뽑아내자!
- [n:m]을 이용하면 리스트에서 원하는 아이템만 뽑아낼 수 있다.
n <= number < m
- 문자열 슬라이싱 가능
- 슬라이싱할 때 단계 설정 가능
- 슬라이싱을 이용해서 아이템 변경 가능.
- slice()함수를 이용해서 아이템 슬라이싱 가능.

In [220]:
students = ['홍길동','박찬호','이용규','강호동','박승철','김지은']
print('students:{}'.format(students[1:4]))
print('students:{}'.format(students[:4]))
print('students:{}'.format(students[3:]))
print('students:{}'.format(students[3::2]))
print('students:{}'.format(students[2:-1]))
print('students:{}'.format(students[-4:-1]))

students:['박찬호', '이용규', '강호동']
students:['홍길동', '박찬호', '이용규', '강호동']
students:['강호동', '박승철', '김지은']
students:['강호동', '김지은']
students:['이용규', '강호동', '박승철']
students:['이용규', '강호동', '박승철']

In [222]:
students = ['홍길동','박찬호','이용규','강호동','박승철','김지은']
students[1:3] =['park','lee']
students

['홍길동', 'park', 'lee', '강호동', '박승철', '김지은']

In [223]:
students = ['홍길동','박찬호','이용규','강호동','박승철','김지은']
students[1:4] =['park','lee']
students   # 아이템 할당 안해주면 날라감.

['홍길동', 'park', 'lee', '박승철', '김지은']

In [228]:
students = ['홍길동','박찬호','이용규','강호동','박승철','김지은']
print(len(students))
print('students:{}'.format(students[slice(2,4)]))

print('students:{}'.format(students[slice(4)]))
print('students:{}'.format(students[slice(1)]))

print('students:{}'.format(students[slice(2,len(students)-2)]))
print('students:{}'.format(students[slice(len(students)-5, len(students)-2)]))

6
students:['이용규', '강호동']
students:['홍길동', '박찬호', '이용규', '강호동']
students:['홍길동']
students:['이용규', '강호동']
students:['박찬호', '이용규', '강호동']

### 리스트 나머지 기능들

- 리스트 곱셈 연산
    - 리스트를 곱셈 연산하면 아이템이 반복된다.
    - 문자열, 숫자 다 가능.

- 아이템 위치 찾기
    - index(item) 함수를 item의 인덱스 찾기 가능.

In [230]:
students =['홍길동','박찬호','이용규']
print('students:{}'.format(students))

studentsMul = students*2
studentsMul

students:['홍길동', '박찬호', '이용규']

['홍길동', '박찬호', '이용규', '홍길동', '박찬호', '이용규']

In [231]:
num = [1,2,3,4]
num*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [239]:
# 아이템 위치 찾기

students =['홍길동','강호동','박찬호','이용규','박승철','김지은','강호동']
searchIdx = students.index('강호동') 
print(searchIdx)
students =['홍길동','강호동','박찬호','이용규','박승철','김지은','강호동']
searchIdx = students.index('강호동',2,7) #2,7은 범위
print(searchIdx)

1
6

In [244]:
#1부터10까지의 정수가 중복되지 않고 섞여 있을 때 행운의 숫자 7의 위치 찾자
import random

sampleNum= random.sample(range(1,11),10) # 정수 10개
selectIdx = int(input('숫자 7의 위치 입력:'))
searchIdx = sampleNum.index(7)

if searchIdx == selectIdx:
    print('빙고!')
else:
    print('ㅠㅠ')
print('sampleNum:{}'.format(sampleNum))
print('searchIdx:{}'.format(searchIdx))

ㅠㅠ
sampleNum:[6, 1, 4, 8, 10, 3, 9, 5, 7, 2]
searchIdx:8

### 리스트 나머지 기능들(2)
- 특정 아이템 개수 파악
    - count()함수를 이용하면 특정 아이템의 개수 알수있음.
- 특정 아이템 삭제
    - del 키워드를 이용하면 특정 아이템 삭제 가능.

In [245]:
# count()

students =['홍길동','강호동','박찬호','이용규','박승철','김지은','강호동']
students.count('강호동')

2

In [252]:

students =['홍길동','강호동','박찬호','이용규','박승철','김지은','강호동']
del students[0:5]
students

['김지은', '강호동']

In [254]:
#하루동안 헌혈을 진행한 수 혈액형 별 개수 파악 프로그램.
import random
types =['A','B','AB','O']
todayData = []
typeCnt = []

for i in range(100):
    type = types[random.randrange(len(types))]
    todayData.append(type)
print('todayData:{}'.format(todayData))
print('todayData length:{}'.format(len(todayData)))

for type in types:
    print('{}형 \t : {}개'.format(type, todayData.count(type)))

todayData:['O', 'B', 'B', 'AB', 'AB', 'O', 'A', 'AB', 'B', 'A', 'O', 'O', 'AB', 'A', 'A', 'B', 'AB', 'B', 'A', 'B', 'B', 'O', 'AB', 'B', 'AB', 'AB', 'AB', 'AB', 'B', 'AB', 'AB', 'O', 'B', 'AB', 'A', 'AB', 'AB', 'O', 'A', 'O', 'AB', 'O', 'A', 'B', 'B', 'B', 'A', 'O', 'O', 'A', 'B', 'O', 'O', 'AB', 'A', 'AB', 'O', 'O', 'O', 'B', 'AB', 'B', 'O', 'O', 'B', 'A', 'O', 'A', 'O', 'A', 'O', 'O', 'A', 'O', 'B', 'B', 'A', 'B', 'AB', 'AB', 'A', 'AB', 'A', 'O', 'O', 'A', 'O', 'A', 'A', 'AB', 'B', 'AB', 'B', 'B', 'B', 'B', 'O', 'AB', 'A', 'O']
todayData length:100
A형 	 : 22개
B형 	 : 25개
AB형 	 : 25개
O형 	 : 28개

## 튜플 
- 리스트와 비슷하지만 아이템 변경 불가!
    - 리스트는 아이템 변경(수정,삭제 등) 가능
    - 튜플은 아이템 변경(수정,삭제 등) 불가능
- 튜플 선언
    - '()'를 이용해서 선언하고, 데이터 구분은 ',' 이용
    - 숫자, 문자(열),논리형 등 모든 기본 데이터를 같이 저장
    - 튜플에 또 다른 컨테이너 자료형 데이터 저장.

In [255]:
students =('홍길동','강호동','박찬호')
students[1] = '길동'

TypeError: 'tuple' object does not support item assignment

### 튜플 아이템 조회
- 인덱스 
    - 튜플도 리스트와 마찬가지로 아이템에 자동으로 부여되는 번호표 있음.
- 아이템 조회
    - 튜플 아이템은 인덱스를 이용해서 조회 가능
    - 잘못된 인덱스 사용으로 인한 에러 발생!

In [256]:
students =('홍길동','강호동','박찬호')
students[1]

'강호동'

In [ ]:
# 5명의 학생 이름을 튜플에 저장하고 인덱스가 홀수인 학생과 짝수(0포함)인 학생을 구분해서 인덱스와 학생 이름 출력.

## in과 not in 키워드
- 아이템 존재 유/무 판단하기
- in , not in 키워드를 이용하면 아이템의 존재 유/무를 알 수 있음.
- 아이템 조회
    - in, not in 키워드는 문자열에서도 사용 가능

In [258]:
students =('홍길동','강호동','박찬호')
stu = input()
if stu in students:
    print('기')
else:
    print('노우')

노우

### 아이템 개수
- 리스트와 마찬가지로, 튜플에 저장된 아이템 개수를 튜플 길이라고 함.

In [259]:
students = ('홍길동','박찬호','이용규','박승철','김지은')
slength = len(students)
print(slength)

5

In [ ]:
n = 0 
while n < len(students):
    b

### 튜플 결합
- 두 개의 튜플을 합쳐서 새로운 튜플 만들기

In [260]:
students1 = ('홍길동','박찬호')
students2 =  ('이용규','박승철','김지은')
students1 + students2

('홍길동', '박찬호', '이용규', '박승철', '김지은')

### 리스트 vs 튜플
- 리스트에서 사용할 수 있는 extend() 함수를 튜플에서는 사용 불가

### 튜플 슬라이싱
- 리스트와 마찬가지로 [n:m]을 이용하면 리스트에서 원하는 아이템만 뽑기
- 슬라이싱할 때 단계 설정 가능
- 튜플은 슬라이싱을 이용해서 아이템 변경 불가능
- slice()함수를 이용해서 아이템을 슬라이싱 가능

In [261]:
students = ('홍길동', '박찬호', '이용규', '박승철', '김지은')
students[2:4]

('이용규', '박승철')

### 리스트와 튜플의 차이
- 튜플은 리스트와 달리 아이템 추가, 변경, 삭제 불가.
- 튜플은 선언 시 괄호 생략 가능, 리스트는 불가.
- 리스트와 튜플은 자료형 변환 가능.

In [3]:
#튜플은 선언 시 괄호 생략 가능, 구분자->','

students = '홍길동', '박찬호', '이용규', '박승철', '김지은'
type(students)

tuple

In [5]:
students = '홍길동', '박찬호', '이용규', '박승철', '김지은'
students = list(students)
print(students)
print(type(students))

students = tuple(students)
print(students)
print(type(students))

['홍길동', '박찬호', '이용규', '박승철', '김지은']
<class 'list'>
('홍길동', '박찬호', '이용규', '박승철', '김지은')
<class 'tuple'>

In [54]:
# 튜플을 이용한 점수표에서 최저, 최고 점수 삭제 후 평균
playerScore = (9.5,8.9,9.2,9.8,9.9,9.0)
print('playerScore:{}'.format(playerScore))
print('playerScore type:{}'.format(type(playerScore)))

playerScore = list(playerScore)
playerScore.sort()
print('playerScore:{}'.format(playerScore))

playerScore.pop(0) #최저점수 제거
playerScore.pop(-1) #최고점수 제거 # len(playerScore) - 1
playerScore

playerScore:(9.5, 8.9, 9.2, 9.8, 9.9, 9.0)
playerScore type:<class 'tuple'>
playerScore:[8.9, 9.0, 9.2, 9.5, 9.8, 9.9]

[9.0, 9.2, 9.5, 9.8]

In [12]:
playerScore = tuple(playerScore)
type(playerScore)

tuple

In [21]:
sum = 0
avg = 0
for score in playerScore:
    sum += score 
avg = sum/len(playerScore)
print('총점: % .2f' %sum )
print('평군: % .2f' %avg)

총점:  37.50
평군:  9.38

### 튜플 아이템 정렬
- 튜플은 sort()로 정렬불가. 
- 튜플은 수정 불가함으로 리스트로 변환 후 정렬.
- sort()함수를 이용하면 아이템을 정렬할 수 있음.
- sorted() 함수를 이용하면 튜플도 정렬할 수 있음.
    - sorted()는 리스트 자료형 반환. -> 오름나순 정렬

In [22]:
students

('홍길동', '박찬호', '이용규', '박승철', '김지은')

In [24]:
number = (2, 50, 0.12,1,9,7,17,35)
print(number)
print(type(number))

(2, 50, 0.12, 1, 9, 7, 17, 35)
<class 'tuple'>

In [30]:
numbers = list(number)
numbers.sort(reverse=True)
numbers
numbers = tuple(numbers)
numbers

(50, 35, 17, 9, 7, 2, 1, 0.12)

In [33]:
#자료구조 내장 함수 sorted()
print(students)
sortedStudents = sorted(students)
sortedStudents

('홍길동', '박찬호', '이용규', '박승철', '김지은')

['김지은', '박승철', '박찬호', '이용규', '홍길동']

In [55]:
# 최저, 최고 삭제, 총점평균 구하기
playerScore = sorted(playerScore)
playerScore.append(8.8)
playerScore.append(9.9)
playerScore.sort()
playerScore.pop(0)
playerScore.pop(len(playerScore)-1)
playerScore = tuple(playerScore)
playerScore

(9.0, 9.2, 9.5, 9.8)

In [49]:
playerScore = (9.5,8.9,9.2,9.8,9.9,9.0)
playerScore = sorted(playerScore)

playerScore.pop(0)
playerScore.pop(len(playerScore)-1)
playerScore = tuple(playerScore)
playerScore

[8.9, 9.0, 9.2, 9.5, 9.8]

## 딕셔너리
- 키를 이용해서 자료구조를 다루자!
- 키key와 값value을 이용해서 자료를 관리함.
- 키 중복되지 않게 조심!
- {} 를 이용해서 선언, '키:값' 의 형태로 아이템 정의.
- 키와 값에는 숫자, 문자열, 논리형 뿐 아니라 컨테이너 자료형도 올 수 있음.
- 탄, 키에 immutable 값은 올 수 있지만 mutable 값은 올 수 없다. 키에는 변경불가한 데이터만 올 수 있음.

In [57]:
students = {'s1':'홍길동','s2':'박찬호','s3':'이용규','s4':['이용규','박세리']}
print(type(students))

<class 'dict'>

In [58]:
# 나의 정보(이름, 전공, 메일, 주소 등)를 딕셔너리에 저장&출력

myInfo = {'이름':'박경진', '전공':'computer','메일':'jin','학년':3, '주소':'대학민국 서울','취미':'요리'}
myInfo

{'이름': '박경진',
 '전공': 'computer',
 '메일': 'jin',
 '학년': 3,
 '주소': '대학민국 서울',
 '취미': '요리'}

## 딕셔너리 조회
- 딕셔너리는 키를 이용해서 값을 조회한다. -> my['name']
- 존재하지 않는 키를 이용한 조회 시 에러 발생.
- get(key)를 이용해서 값을 조회 할 수 있다.
- get()은 key 가 없어도 에러가 발생하지 않음.

In [71]:
students = {'s1':'홍길동','s2':'박세리','s3':'박찬호','s4':['이용구','이왕자']}
print(students['s1'])
print(students['s2'])
print(students['s3'])
print(students['s4'])
print(students['s4'][1])
print(students['s4'][0]) 
students.get('s1')

홍길동
박세리
박찬호
['이용구', '이왕자']
이왕자
이용구

'홍길동'

In [79]:
# 나의 정보(이름, 전공, 메일, 주소 등) -> [], get()사용
myInfo
print(myInfo['이름'])
print(myInfo['메일'])
print(myInfo['취미'])

print(myInfo.get('이름'))
print(myInfo.get('메일'))
print(myInfo.get('주소'))

박경진
jin
요리
박경진
jin
대학민국 서울

## 딕셔너리 추가 
- 키를 이용해서 아이템 추가
- '딕셔너리 이름[키(key)] = 값' 형태로 아이템 추가. -> myInfo['이름'] = '손'
- key 가 중복될 때 에러는 뜨지 않지만 원치 않는 변경 발생할 수 있음.
- 추가 하려는 키가 이미 있다면 기존 값이 변경된다.

In [86]:
myInfo = {}

myInfo['이름'] = '손'
myInfo['학년'] = 3
myInfo['주소'] = '서울'


myInfo

{'이름': '손', '학년': 3, '주소': '서울'}

In [2]:
# 학생 정보 입력받아 딕셔너리에 추가해보자.
studentInfo = {}

studentInfo['name'] = input('이름 입력:')
studentInfo['grade'] = int(input('학년 입력:'))
studentInfo['address'] = input('주소 입력:')
studentInfo['mail'] = input('이메일 입력:')

print(f'studentInfo:{studentInfo}')

studentInfo:{'name': '손', 'grade': 3, 'address': '서울', 'mail': 'ar4@naver.com'}

In [3]:
studentInfo

{'name': '손', 'grade': 3, 'address': '서울', 'mail': 'ar4@naver.com'}

In [89]:
# 0부터 10까지의 각각의 정수에 대한 팩토리얼을 딕셔너리에 추가.
factorialDic = {}

for i in range(11):
    if i == 0:
        factorialDic[i] = 1
    else:
        for j in range(1,(i+1)):
            factorialDic[i] = factorialDic[i-1] *j
factorialDic

{0: 1,
 1: 1,
 2: 2,
 3: 6,
 4: 24,
 5: 120,
 6: 720,
 7: 5040,
 8: 40320,
 9: 362880,
 10: 3628800}

## 딕셔너리 수정
- 키를 이용해서 값 수정
- '딕셔너리 이름[키(key)] = 값' 형태로 아이템 수정. -> myInfo['이름'] = '손'

In [5]:
# 학생의 시험 점수가 60점 미만이면 'F(재시험)'으로 값 변경.
scores = {'kor':88,'eng':55,'mat':85,'sci':57,'his':82}
print(f'scores : {scores}')

minScore = 60
fail = 'F(재시험)'
if scores['kor'] < minScore : 
    scores['kor'] = fail
if scores['eng'] < minScore : 
    scores['eng'] = fail
if scores['mat'] < minScore : 
    scores['mat'] = fail
if scores['sci'] < minScore : 
    scores['sci'] = fail
if scores['his'] < minScore : 
    scores['his'] = fail

scores : {'kor': 88, 'eng': 55, 'mat': 85, 'sci': 57, 'his': 82}

In [17]:
# 하루에 몸무게(kg)와 신장(m)이 각각 -0.3kg, +0.001m 씩 변한다고 할때, 30일 후의 몸무게, 신장, bmi 값 
myBodyInfo = {'이름':'gildong','몸무게': 83, '신장': 1.8}
myBMI = myBodyInfo['몸무게'] / myBodyInfo['신장'] ** 2
print(f'myBodyInfo:{myBodyInfo}')
print(f'myBMI:{round(myBMI, 2)}')

date = 1
while True:
    
    myBodyInfo['몸무게'] = round((myBodyInfo['몸무게'] - 0.3),2)
    print('몸무게:{}'.format(myBodyInfo['몸무게']))

    myBodyInfo['신장'] = round((myBodyInfo['신장'] + 0.001),2)
    print('신장:{}'.format(myBodyInfo['신장']))

    myBMI = myBodyInfo['몸무게'] / myBodyInfo['신장'] ** 2

    if date >= 30:
        break
    date += 1

print(f'myBodyInfo:{myBodyInfo}')
print('BMI: %.2f' % myBMI)

myBodyInfo:{'이름': 'gildong', '몸무게': 83, '신장': 1.8}
myBMI:25.62
몸무게:82.7
신장:1.8
몸무게:82.4
신장:1.8
몸무게:82.1
신장:1.8
몸무게:81.8
신장:1.8
몸무게:81.5
신장:1.8
몸무게:81.2
신장:1.8
몸무게:80.9
신장:1.8
몸무게:80.6
신장:1.8
몸무게:80.3
신장:1.8
몸무게:80.0
신장:1.8
몸무게:79.7
신장:1.8
몸무게:79.4
신장:1.8
몸무게:79.1
신장:1.8
몸무게:78.8
신장:1.8
몸무게:78.5
신장:1.8
몸무게:78.2
신장:1.8
몸무게:77.9
신장:1.8
몸무게:77.6
신장:1.8
몸무게:77.3
신장:1.8
몸무게:77.0
신장:1.8
몸무게:76.7
신장:1.8
몸무게:76.4
신장:1.8
몸무게:76.1
신장:1.8
몸무게:75.8
신장:1.8
몸무게:75.5
신장:1.8
몸무게:75.2
신장:1.8
몸무게:74.9
신장:1.8
몸무게:74.6
신장:1.8
몸무게:74.3
신장:1.8
몸무게:74.0
신장:1.8
myBodyInfo:{'이름': 'gildong', '몸무게': 74.0, '신장': 1.8}
BMI: 22.84

## keys() 와 values()
- 전체 키와 값 조회 가능 =>  dict.keys(), dict.values()
- items() => 값을 아이템 하나하나로 변환(튜플 형태)
- 리스트(list())로 변환 
- for문을 이용한 조회
-

In [18]:
for key in myBodyInfo.keys():
    print(key)

이름
몸무게
신장

In [19]:
myBodyInfo.keys() #전체 데이터 조회 가능

dict_keys(['이름', '몸무게', '신장'])

In [22]:
# 학생 시험 점수 60점이하 'F(재시험)'-> keys()사용해서 변경
scores = {'kor':88,'eng':55,'mat':85,'sci':57,'his':82}
scores.keys()

minScore = 60
fdic = {}
f = 'F(재시험)'

for key in scores: 
    if scores[key] < minScore:
        scores[key] = f
        fdic[key] = f
print(scores) 
print(fdic)

{'kor': 88, 'eng': 'F(재시험)', 'mat': 85, 'sci': 'F(재시험)', 'his': 82}
{'eng': 'F(재시험)', 'sci': 'F(재시험)'}

## 딕셔너리 삭제
### del 
- del과 key를 이용한 item 삭제

In [30]:
memInfo = {'이름':'홍길동', '메일':'gildong@gmail.com', '학년':3, '취미':['농구','게임']}
del memInfo['취미']
memInfo

{'이름': '홍길동', '메일': 'gildong@gmail.com', '학년': 3}

### pop 
- pop과 key를 이용한 item 삭제
- 함수로써 del과 다른 점:  데이터 반환 가능 -> 삭제된 데이터 반환 가능 -> dict.pop('이름')

In [34]:
# 최저, 최고 점수 삭제
scores = {'score1':8.9, 'score2':8.1,'score3':8.5,'score4': 9.8,'score5':8.8}
minScore = 10
minScoreKey = ''
maxScore = 0
maxScoreKey = ''

for key in scores.keys():

    if scores[key] < minScore:
        minScore = scores[key]
        minScoreKey = key
    if scores[key] > maxScore:
        maxScore = scores[key]
        maxScoreKey = key  
print('minScore : {}'.format(minScore))
print('minScoreKey : {}'.format(minScoreKey))
print('maxScore : {}'.format(maxScore))
print('maxScoreKey : {}'.format(maxScoreKey))

print(scores)
del scores['score2']
scores.pop('score4')
print(scores)

minScore : 8.1
minScoreKey : score2
maxScore : 9.8
maxScoreKey : score4
{'score1': 8.9, 'score2': 8.1, 'score3': 8.5, 'score4': 9.8, 'score5': 8.8}
{'score1': 8.9, 'score3': 8.5, 'score5': 8.8}

## 딕셔너리 유용한 기능
- in, len(), clear()
### in, not in
- key 존재 유/무 판단

In [37]:
print(memInfo)
print('이름' in memInfo)
print('주소' in memInfo)
print('주소' not in memInfo)

{'이름': '홍길동', '메일': 'gildong@gmail.com', '학년': 3}
True
False
True

### len()
- 딕셔너리 길이(아이템 개수)

In [38]:
len(memInfo)

3

### clear()
- 모든 아이템 삭제

In [41]:
memInfo.clear()
memInfo

{}

In [51]:
# 개인 정보에 연락처 , 주민등록번호 삭제
myInfo = {'이름':'강강강',
 '나이' : '30', 
 '연락처':'010-1234-5678', 
 '주민등록번호': '299229- 0202929', 
 '주소':'서울시'}
myInfo

{'이름': '강강강',
 '나이': '30',
 '연락처': '010-1234-5678',
 '주민등록번호': '299229- 0202929',
 '주소': '서울시'}

In [52]:
delkey = ['연락처','주민등록번호']
for key in delkey:
    if (key in delkey):
        del myInfo[key]
print(myInfo)

{'이름': '강강강', '나이': '30', '주소': '서울시'}