In [1]:
a = True
b = False 
(a or b) and a

True

In [2]:
ls = range(1,20)
result=[]
result = ["3의배수" if(data%3 == 0) else data for data in ls]
result

[1,
 2,
 '3의배수',
 4,
 5,
 '3의배수',
 7,
 8,
 '3의배수',
 10,
 11,
 '3의배수',
 13,
 14,
 '3의배수',
 16,
 17,
 '3의배수',
 19]

In [3]:
ls = range(1,20)
result=[]
result = [for data in ls if(data%3 == 0) "3의 배수" else data]
result

SyntaxError: invalid syntax (<ipython-input-3-9b14b600644d>, line 3)

In [4]:
ls = range(1,20)
result=[]
result = [data if(data%3 == 0) else "3의배수"for data in ls]
result

['3의배수',
 '3의배수',
 3,
 '3의배수',
 '3의배수',
 6,
 '3의배수',
 '3의배수',
 9,
 '3의배수',
 '3의배수',
 12,
 '3의배수',
 '3의배수',
 15,
 '3의배수',
 '3의배수',
 18,
 '3의배수']

In [5]:
ls = range(1,20)
result = []

for data in ls:
    if(data%3 == 0):
        result.append('3의배수')
    else:
        result.append(data)
result

[1,
 2,
 '3의배수',
 4,
 5,
 '3의배수',
 7,
 8,
 '3의배수',
 10,
 11,
 '3의배수',
 13,
 14,
 '3의배수',
 16,
 17,
 '3의배수',
 19]

In [6]:
6%7

6

In [7]:
5//4

1

In [8]:
5!=4

True

In [9]:
3**2

9

In [ ]:
number = int(input())
A if number %2 else B

4. 윤년에 대한 조건이 다음과 같이 3가지가 있습니다. 첫째, 4로 나누었을 때 떨어지는 해가 윤년입니다. 둘째, 100년에 한 번은 평년입니다. 셋째, 400으로 나누었을 때 떨어지는 해는 윤년입니다. 이를 계산하는 코드를 연산자를 이용하여 작성해본 뒤, 2021년이 윤년인지 평년인지 답변해주세요.
* 윤년에 자세한 설명 참고(https://terms.naver.com/entry.naver?docId=1133190&cid=40942&categoryId=32295)

- 윤년(True)? 평년(False)?

In [10]:
n = int(input('년도 입력부탁: '))
if n % 4 == 0 and n % 400 == 0 :   
    print('윤년')
else:
    print('평년')
print('{}는 {}')

2021
평년