In [68]:
'Good' *5

'GoodGoodGoodGoodGood'

In [1]:
#오늘의 날씨를 입력하고 출력해 보자
userInputData = input('오늘의 날씨를 입력하세요: ')

오늘의 날씨를 입력하세요: 오늘은 덥다

In [8]:
#str, int, float, bool
a = 10
# a= str(a)
type(a)
a

10

In [17]:
a = 'True'
b = 'False'
print(a+b)

TrueFalse

In [19]:
#true = 1 , false = 0
a = bool(a)
b = bool(b)
print(a+b)
# print(a+b)

2

In [4]:
#사용자 이름을 입력하고 입력한 데이터의 자료형을 확인하는 코드를 작성해보자.
userName = input('이름 입력: ')

print(userName)
print(type(userName))

이름 입력: 홍길동
홍길동
<class 'str'>

In [3]:

#사용자가 가로, 세로 길이를 입력하면 삼각형과 사각형의 넓이가 출력되는 코드를 작성해보자. 
width = int(input('가로 길이 입력 : '))
height = int(input('세로 길이 입력 : '))

print(width * height)
print(width * height / 2)

가로 길이 입력 : 10
세로 길이 입력 : 5
50
25.0

In [23]:
userName = 'sohn mina'
print(userName)

userAge = 20
print(userAge)

print('User name : ', userName, end=', ')
print('User age : ', userAge)
print('3 * 5 = ', end='') # \n
print(3 * 5)

sohn mina
20
User name :  sohn mina, User age :  20
3 * 5 = 15

In [31]:
#포맷 문자열을 이용한 데이터 출력 -> f''
print(f'User name : {userName}')
print(f'User age: {userAge}')
print(f'User name : {userName}, User age: {userAge}')

#특수문자 \n(개행) \t(tab 4)
print(f'User name : \t{userName} \n User age: \t{userAge}')

User name : sohn mina
User age: 20
User name : sohn mina, User age: 20
User name : 	sohn mina
 User age: 	20

In [37]:
width = int(input('가로 길이 : '))
width = int(input('세로 길이 : '))

triangle = width * height / 2
print(f'width : {width}, height : {height} , triangle : {triangle}')

가로 길이 : 20
세로 길이 : 10
width : 10, height : 23 , triangle : 115.0

In [36]:
width = int(input('가로 길이 : '))
height = int(input('세로 길이 : '))
triangle = width * height / 2
print('width : ', width, end='')
print(',height : ', height, end='')
print(', triangle : ', triangle)

가로 길이 : 3
세로 길이 : 23
width :  3,height :  3, triangle :  34.5

In [48]:
#format() 함수
#format() 함수를 이용한 데이터 출력
print('User name : {}'.format(userName))
print('User age : {}'.format(userAge))
print('User name : {}, User age: {}'.format(userName, userAge))

#format() 함수의 인덱스를 이용한 출력
print('나의 이름은 : {0} 이고, \n나의 나이는 : {1}살 입니다. {0} 이라는 이름은 아버지께서 지어주셨습니다.'
      .format(userName, userAge))
print('나의 이름은 : {} 이고, 나의 나이는 : {}살 입니다.'.format(userName, userAge))

User name : sohn mina
User age : 20
User name : sohn mina, User age: 20
나의 이름은 : sohn mina 이고,
나의 나이는 : 20살 입니다. sohn mina 이라는 이름은 아버지께서 지어주셨습니다.
나의 이름은 : sohn mina 이고, 나의 나이는 : 20살 입니다.

In [49]:
#형식 문자 
# 형식 문자를 이용한 데이터 출력
print('User name : %s' % userName)
print('User age : %d'% userAge)
print('User name : %s, User age : %d'  % (userName, userAge))

User name : sohn mina
User age : 20
User name : sohn mina, User age : 20

In [52]:
#소수점 자리수 정하기
# %.nf

pi = 3.14
print('pi : %f' % pi)
print('pi : %.2f' % pi)
print('pi : %.4f' % pi)

Pi : 3.140000
Pi : 3.14
Pi : 3.1400

In [56]:
radius = float(input('반지름 입력 : '))
pi = float(input('원주율 입력: '))

print('radius: %.2f' % radius)
print('pi: %.2f' % pi)

반지름 입력 : 23
원주율 입력: 3.141592
radius: 23.00
pi: 3.14

In [63]:
bool([0])

True

In [64]:
zero_base = 'education'

In [65]:
4f = 4.15

SyntaxError: invalid syntax (<ipython-input-65-b9a67d0220f8>, line 1)

In [66]:
DATA = 1

In [67]:
population = 99999999999999999999999999999999999999999999999999999999999